<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/styles/common.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main">
    <div class="header">
      <nav class="navbar navbar-light" style="background-color: var(--main-color); color: var(--text-white);">
        <a class="navbar-brand" href="#">
          <span class="material-icons">
            commute
          </span>
          Bootstrap
        </a>
      </nav>
    </div>
    <div class="wrapper">
      <div class="left-menu">
        <ul class="list-option">
          <li class="option-item active">Thống kê</li>
          <li class="option-item">Tài khoản</li>
          <li class="option-item">Phê duyệt tài xế</li>
        </ul>
      </div>
      <div class="content-box">
        
        <div class="right-box">
          <div class="thumb-nail">
            <h4 style="color: rgb(128, 122, 122);">Tổng số chuyến</h4>
            <h2 style="color: var(--main-color);">1000</h2>
          </div>
          <div class="thumb-nail">
            <h4 style="color: rgb(128, 122, 122);">Tổng thu nhập</h4>
            <h2 style="color: var(--main-color);">1.000.000.000</h2>
          </div>
          <div class="box-driver-statistic">
            <div>
              <span style="color: rgb(128, 122, 122); font-size: 15px;">Tổng số tài xế:</span>
              <span style="width: 5px;"></span>
              <span style="color:var(--main-color); font-size: 15px; font-weight: bold;"><%= drivers.list.length%></span>
            </div>
            <div>
              <span style="color: rgb(128, 122, 122); font-size: 15px;">Số tài xế chờ phê duyệt:</span>
              <span style="width: 5px;"></span>
              <span style="color:var(--main-color); font-size: 15px; font-weight: bold;">2</span>
            </div>
            <div>
              <span style="color: rgb(128, 122, 122); font-size: 15px;">Danh sách tài xế</span>
            </div>
            <div class="driver-table">
              <table class="table">
                <thead class="" style="background-color: var(--main-color); color: var(--text-white);">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="chart-container">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
  <script>
    var mapData = [<%= totalData.map(each => each.count)%>];
    var success = [<%= successData.map(each => each.count)%>];
    var mapTitle = `<%= totalData.map(each => `${each.date.toISOString().split('T')[0]}`)%>`;
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: mapTitle.split(','),
            datasets: [{
                label: 'Thông kê số lượng đặt xe',
                data: mapData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(117, 50, 168, 1)'
                ],
                borderWidth: 2
            },
            {
                label: 'Thông kê số lượng đặt xe',
                data: success,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(137, 50, 168, 1)'
                ],
                borderWidth: 2
            }
          ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                
            },
        },

    });

    myChart.canvas.parentNode.style.height = '400px';
    // myChart.canvas.parentNode.style.width = '128px';
  </script>
</body>
</html>