<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/adminPage/login" method="post">
    <input type="text" name="phoneNumber">
    <input type="password" name="password">
    <button type="submit">dang nhap</button>
  </form>
</body>
</html>