:root {
  --main-color: #7532a8;
  --text-white: white;
}

.content-box {
  width: calc(100% - 200px);
  float: left;
  height: 400px;
  padding: 10px;
}



.content-box .chart-container {
  width: 50%;
  height: 400px;
  float: left;
  padding: 10px;
}

.content-box .right-box {
  padding: 20px 0px 0px 0px;
  float: left;
  width: 50%;
}

.content-box .right-box .thumb-nail {
  width: 47%;
  float: left;
  height: 80px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 1px 6px 0px #7532a8;
  margin: 1.5%;
  padding: 10px;
}

.content-box .right-box .box-driver-statistic {
  width: 97%;
  float: left;
  height: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 1px 6px 0px #7532a8;
  margin: 1.5%;
  padding: 10px;
}

.content-box canvas {
  float: left;
  height: 400px;
}

.left-menu ul.list-option li.active {
  border-left: 5px var(--main-color) solid;
  color: white !important;
  background-color: #7532a894;
  padding-left: 5px !important;
}

.left-menu ul.list-option li.option-item {
  height: 50px;
  text-align: left;
  line-height: 50px;
  padding: 0px 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
}

.left-menu ul.list-option {
  padding: 0px;
  list-style: none;
  padding: 0px 0px 10px 0px;
}

.left-menu {
  float: left;
  width: 200px;
  min-height: 736px;
  border-right: 0.5px #d8c9c9 solid;
  height: max-content;
}